body{
	  background-color: #eb94c6;
	 font-family: 'Dancing Script', cursive;
	  margin: o;
	  }
	  
	  #container {
	     width: 1200px;
		 margin: 0 auto;
		 background-color: #fad2d6;;
		 }
		 
header{
	background-color: #fad2d6;
	padding: 40px;
	margin: 0;
	}
	header h2{
	margin:0;
	padding-left: 7px;
	padding-top: 10px;
	padding-bottom: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fa9150;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
} 

nav li a:hover {
  background-color: #574e49;
  text-align: center;
   float: center;
    display: block;
	 padding: 14px 30px;
}
footer{
	background-color: #fa9150;
	padding: 20px;
	margin: 0;
}
footer p{
	margin:0;
}
.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
  background-color: #fff5fc;
}
.two-column div {
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}
.three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #CEB7B3;
  margin: 0;
}
.three-column div {
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}
.fa {
  margin-top: 8px;
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-instagram {
  background: #eb348f;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.button1 {
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block ;
  font-size: 16px;
  margin-left:680px;
  margin-right: 600px;
  cursor: pointer;
}
	a {
		text-decoration: none;
		color:white;
	}
	
.button1 {background-color:#422f3e;
  color: white;
  border: 2px solid white;
}
.button1:hover {
  background-color: #CEB7B3;
  color: white;
}
	.button2 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left:550px;
  margin-right: 600px;
  cursor: pointer;
  width: 340px;
}
	
.button2 {background-color:#422f3e;
  color: white;
  border: 2px solid white;
}
.button2:hover {
  background-color: #CEB7B3;
  color: white;
}
	.button3 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block ;
  font-size: 16px;
  margin-left:610px;
  margin-right: 600px;
  cursor: pointer;
  margin-bottom: 30px;
  width: 300px;
}
	
.button3 {background-color:#422f3e;
  color: white;
  border: 2px solid white;
}
.button3:hover {
  background-color: #CEB7B3;
  color: white;
}
	.button4 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block ;
  font-size: 16px;
  margin-left:660px;
  margin-right: 600px;
  margin-bottom: 10px;
  cursor: pointer;
}
	
.button4 {background-color:#422f3e;
  color: white;
  border: 2px solid white;
}
.button4:hover {
  background-color: #CEB7B3;
  color: white;
}
.myself-picture{
	  width:500px;
	display: block;
	margin-left: 50px;
	margin-right: auto;
	width: 45%;
	 border-radius: 70%;
	  }